# IntelliJ Project Files
.idea/
*.iml
*.iws
*.ipr
out/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
.gradletasknamecache

# Kotlin
.kotlin/

# IntelliJ Plugin Sandbox
idea-sandbox/

# Generated Source Code
src/main/gen/
examples/gen/
examples/bnf/gen/

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
